* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
}
p{
    font-size:  18px;
}

.boss{
    background-color:#00000000;
    width: 100%;
    height: 100%;
}





section{
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: rew;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
    gap: 25px;

}
article{
    position: relative;
}

article div{
    border-radius: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* Part1 */

.your-result{
    width: 350px;
    height: 500px;
    background-color: hsl(252, 100%, 67%);
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 0px;
}
.your-result h1{
    font-size: 25px;
    position: relative;
    top: -95px;
}
.your-result h2{
    font-size: 65px;
    position: relative;
    top: -10px;
    left: 67px;
}
.result-rediu{
    width: 200px;
    height: 200px;
    background-color:hsl(224, 30%, 27%) ;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: -75px;
    border-radius: 300px;
}
.of{
    position: relative;
    top: 40px;
    left: -75px;
    color: hsla(0, 0%, 100%, 0.5);
}
.result-nots{
    color: white;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -150px;
    left: 45px ;
}
.result-nots h3{
    font-size: 30px;
}
.result-nots p{
    text-align: center;
}
/* Part2 */

.Summary{
    width: 312px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
    top: 0px;
}


.img{
    margin: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.number{
    margin: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
}


button{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: #2b3a55;

}


/* color */

.Summary h1{
    font-size: 30px;
}

.reaction{
    background-color: hsla(0, 100%, 67%,10%);
}

.reaction h4{
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: hsla(39, 100%, 56%,10%);
}
.memory h4{
    color: hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsla(166, 100%, 37%,10%);
}
.verbal h4{
    color: hsl(166, 100%, 37%);
}
.visual{
    background-color: hsla(234, 85%, 45%,10%);
}
.visual h4{
    color: hsl(234, 85%, 45%);
}
.persent{
    color: hsla(0, 0%, 0%, 50%);
}

button h3{
    font-size: 18px;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 430px) {
   section{
    flex-direction: column;
    position: relative;
    height: auto;
   } 
}